@page
@model IndexModel
@{
    ViewData["Title"] = "Warehouse";
}

<div container id="main-container-index" class="text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            @if (Helpers.Helpers.CurrentUserRole != Helpers.Helpers.UserRole.Coordinator)
            {
                <h3 class="greeting">Welcome to the Warehouse!</h3>
            }
            else
            {
                <h3 class="greeting">Coordinator</h3>
            }  
        </div>
    </div>
    <br />
    @{
        if (Helpers.Helpers.CurrentUserRole != Helpers.Helpers.UserRole.Coordinator)
        {
            <div class="row justify-content-center">
                <div class="col-12">
                    <h5>Choose you role:</h5>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-2">
                    <form method="post" asp-page-handler="Coordinator">
                        <input type="submit" class="btn btn-primary btn-index" value="Coordinator">
                    </form>
                </div>
                <div class="col-2">
                    <form method="post" asp-page-handler="Employee">
                        <input type="submit" class="btn btn-primary btn-index" value="Employee">
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="row justify-content-center">
                <div class="col-12">
                    <h5>What data do you want to access?</h5>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-2">
                    <a class="btn btn-primary btn-index" asp-page="/Items">Items</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary btn-index" asp-page="/Requests">Requests</a>
                </div>
            </div>
        }
    }
</div>
